<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.qa.bw.listeners.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	  
    <classes>
      <class name="com.qa.bw.pagetest.LoginPageTest"/>
      <class name="com.qa.bw.pagetest.SearchPageTest"/>
      <class name="com.qa.bw.pagetest.SignUpPageTest"/>
      <class name="com.qa.bw.pagetest.BestSellerPageTest"/>
      <class name="com.qa.bw.pagetest.MyAccountPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
